.fa{
    float: right;
    }
    
    #aa{
        font-size: larger;
        float: left;
        
        
    }
    #a{
        margin-left: 420px;
    }
    #b{
        margin-left:25px;
    }
    #c{
        margin-left:25px;
    }
   
    #bb{
        margin-left:25px;
    }
    h2{
        color:rgb(160, 4, 4);
        margin-top: 100px;
    }
    .bb{
        font-size: larger;
        margin-left:335px;
       
    }
    .cc{
        font-size:larger;
        margin-left:263px;
       
    }
    .bc{
        font-size: larger;
        margin-left:335px;
       
    }
    .cb{
        font-size:larger;
        margin-left:283px;
       
    }